<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Menu</title>
	</head>
    
		<body class="p-8 bg-[#f3ebe8]">
			<a href="#" class="absolute top-0 left-0 p-4">Home</a>

			<div class="flex justify-center pt-16">
				<div class="flex ">
					<a href="#" class="hover:bg-[#FAD6D6] w-32 md:w-44 text-center h-10 rounded-xs flex items-center justify-center text-xl font-serif font-medium border-b-2 border-orange-400">Drinks</a>
					<a href="/maindishes" class="hover:bg-[#FAD6D6] w-32 md:w-44 text-center h-10 rounded-xs flex items-center justify-center text-xl font-serif">Main Dishes</a>
					<a href="/desserts" class="hover:bg-[#FAD6D6] w-32 md:w-44 text-center h-10 rounded-xs flex items-center justify-center text-xl font-serif">Desserts</a>
				</div>
			</div>
		</body>