---
import Layout from '../layouts/Layout.astro';
import Partners from '../components/Partners.astro';
import Top from '../components/Top.astro';
import About2 from '../components/About2.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Homepage</title>
	</head>
<body class="bg-white">
	<Top class="p-10"></Top>
	<About2></About2>
	<Partners></Partners>
	<Footer></Footer>
	
</body>